%html
	%head
		%title=locals[:model].title
		%style
			body { font-family: Tahoma;  }
			textarea.results { width: 100%; height: 200px; }
			div.playlists { border: 1px solid #d0d0d0; padding: 5px; }
	%body
		%textarea.results=locals[:model].results

		%div.playlists=locals[:spotify_playlists]
			
