%html
	%head
		%title=locals[:model].title
		%style
			body { font-family: Arial; font-size: 10px;  }
			textarea.results { width: 100%; height: 200px; }
			div.playlists, div.seven_digital, div#status_message { border: 1px solid #d0d0d0; padding: 5px; margin:1px; }
			div.playlist { border: 1px solid #d0d0d0; padding: 5px; margin:1px; height:200px; }
		%script{:language => "javascript", :type => "text/javascript", :src => "scriptaculous-js-1.8.3/lib/prototype.js"}
		%script{:language => "javascript", :type => "text/javascript", :src => "scriptaculous-js-1.8.3/src/builder.js"}
		%script{:language => "javascript", :type => "text/javascript", :src => "scriptaculous-js-1.8.3/src/effects.js"}
		%script{:language => "javascript", :type => "text/javascript", :src => "scriptaculous-js-1.8.3/src/controls.js"}
		%script{:language => "javascript", :type => "text/javascript", :src => "scriptaculous-js-1.8.3/src/dragdrop.js"}
		%script{:language => "javascript", :type => "text/javascript", :src => "scriptaculous-js-1.8.3/src/scriptaculous.js"}
		%script{:language => "javascript", :type => "text/javascript", :src => "scriptaculous-js-1.8.3/src/slider.js"}
		%script{:language => "javascript", :type => "text/javascript", :src => "scriptaculous-js-1.8.3/src/sound.js"}
		%script{:language => "javascript", :type => "text/javascript", :src => "/home.js"}
	%body
		%input{:type => "textbox", :value => "blue", :id => 'q'}
		%input{:type => "button", :onclick => "search(); return false;", :value => 'Go' }
		%div.seven_digital{:id => "playlist"}   
		%div.seven_digital{:id => "seven_digital_out"}
		%div.seven_digital{:id => "seven_digital"}
		%div{:id => "status_message"}


