%html
	%head
		%title=locals[:model].title
		%link{:rel => "stylesheet", :type => 'text/css', :href => '/home.css' }
		%script{:language => "javascript", :type => "text/javascript", :src => "http://yui.yahooapis.com/2.8.0r4/build/yahoo/yahoo-min.js"}
		%script{:language => "javascript", :type => "text/javascript", :src => "http://yui.yahooapis.com/2.8.0r4/build/event/event-min.js"}
		%script{:language => "javascript", :type => "text/javascript", :src => "lib/jquery/jquery-1.4.2.min.js"}
		%script{:language => "javascript", :type => "text/javascript", :src => "/home.js"}
		%script{:language => "javascript", :type => "text/javascript", :src => "/core/ArtistSearch.js"}
		%script{:language => "javascript", :type => "text/javascript", :src => "/core/TopTracks.js"}
		%script{:language => "javascript", :type => "text/javascript", :src => "/core/widgets/TrackList.js"}
		%script{:language => "javascript", :type => "text/javascript", :src => "/core/model/TrackListModel.js"}
	%body
		%input{:type => "textbox", :value => "Chubby Jackson", :id => 'q'}
		%input{:type => "button", :onclick => "search(); return false;", :value => 'Go' }
		%div.seven_digital{:id => "playlist"}   
		%div.seven_digital{:id => "seven_digital"}
			text
		%div{:id => "status_message"}